@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Itim&display=swap');


h1 {
    font-size: 50px;
    font-family: 'Itim', cursive;
}

p {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    font-style: oblique;
    font-weight: 900;
}